[requires]
python_version = '3.6'

[packages]
Flask = '*'
Flask-JWT = '*'
Flask-JWT-Extended = '*'
Flask-RESTful = '*'
Flask-SQLAlchemy = '*'
#uWSGI = '*'
passlib = "*"
psycopg2 = "*"
requests = "*"
SQLAlchemy = "*"
psutil = "*"
numpy = "*"
tableprint = "*"
python-dateutil = "*"

